<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.prg//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--suppress ResultMapColumnCheck -->
<mapper namespace="cn.akira.mapper.UserMapper">
    <resultMap id="user" type="cn.akira.pojo.User">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="uname" jdbcType="VARCHAR" property="uname"/>
        <result column="bind_email" jdbcType="VARCHAR" property="bindEmail"/>
        <result column="bind_phone" jdbcType="VARCHAR" property="bindPhone"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <association property="userInfo" javaType="cn.akira.pojo.UserInfo">
            <id column="id" property="id"/>
            <result column="head_icon" property="headIcon"/>
            <result column="gender" property="gender"/>
            <result column="birthday" property="birthday"/>
            <result column="phone" property="phone"/>
            <result column="tel" property="tel"/>
            <result column="email" property="email"/>
            <result column="addr" property="addr"/>
            <result column="reg_date" property="regDate"/>
        </association>
        <association property="role" javaType="cn.akira.pojo.UserRole">
            <result column="id" property="id"/>
            <result column="role" property="role"/>
        </association>
        <association property="realNameAuth" javaType="cn.akira.pojo.UserRealNameAuth">
            <result column="id" property="id"/>
            <result column="real_name" property="realName"/>
            <result column="cid" property="cid"/>
            <result column="cert_type" property="certType"/>
        </association>
    </resultMap>

    <select id="queryUser" resultType="cn.akira.pojo.User">
        SELECT *
        FROM ssm_demo.user
        <where>
            <if test="uname != null and uname != ''">
                uname=#{uname}
            </if>
            <if test="bindEmail != null and bindEmail != ''">
                AND bind_email = #{bindEmail}
            </if>
            <if test="bindPhone != null and bindPhone != ''">
                AND bind_phone = #{bindPhone}
            </if>
            AND password = #{password}
        </where>
    </select>

    <delete id="insert">
        INSERT INTO user (uname, bind_email, bind_phone, password)
        VALUES (
        #{uname},
        #{bindEmail},
        #{bindPhone},
        #{password}
        )
    </delete>
    <delete id="deleteUserById">
        DELETE FROM user WHERE id = #{id} AND id NOT IN (SELECT id FROM user_role WHERE role=99)
    </delete>
    <select id="queryIdByUname" resultType="java.lang.Integer">
        SELECT id FROM user WHERE uname = #{uname}
    </select>
    <select id="queryIdByBindPhone" resultType="java.lang.Integer">
        SELECT id FROM user WHERE bind_phone=#{bindPhone}
    </select>
    <select id="queryIdByBindEmail" resultType="java.lang.Integer">
        SELECT id FROM user WHERE bind_email =#{bindEmail}
    </select>
    <select id="queryAll" resultMap="user">
        SELECT id, uname, bind_email, bind_phone
        FROM user
    </select>
    <select id="queryUserWithAllPropExceptPasswordById" resultMap="user">
        SELECT * FROM user_detail_all WHERE id = #{id,jdbcType=INTEGER}
    </select>
    <select id="queryUsersWithAllPropExceptPassword" resultMap="user">
        SELECT *
        FROM user_detail_all
    </select>
    <update id="updateAllById">
        UPDATE user SET
        uname=#{uname},
        bind_phone=#{bindPhone},
        bind_email=#{bindEmail}
        <if test="password != null and password != ''">
            ,password=#{password}
        </if>
        WHERE id=#{id}
    </update>
    <select id="queryById" resultMap="user">
        SELECT * FROM user WHERE id=#{id,jdbcType=INTEGER}
    </select>
</mapper>